{% extends "HlTesttalkHlTesttalkBundle::layout.html.twig" %}

{% block title "Hello " ~ name %}
{% block head %}
<link href="{{ asset('bundles/testtalk/css/books.css') }}" rel="stylesheet" type="text/css" media="all" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/testtalk/js/books.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Welcome {{ name }}! This is the list of books.</h1>
<div id="book_list">
{{ include(
            'HlTesttalkHlTesttalkBundle:Default:book_table.html.twig',
{ 'books': books } )}}
    </div>

</div>
<div class="block"><h2>Add a new book:</h2>
    <div>
    {{ form(form, {'attr': {'id' : 'form_add'}, 'onClick': 'add_book()'}) }}

        </div>
{% endblock %}

